* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_175 {
  width: 100%;
  height: 5049px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_176 {
  width: 100%;
  height: 59px;
  background: url("../images/v13_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 100px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_177 {
  width: 266px;
  height: 43px;
  background: rgba(255,255,255,1);
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v13_178 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v13_179 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v26_7 {
  width: 87px;
  height: 69px;
  background: url("../images/v26_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 21px;
  overflow: hidden;
}
.v13_181 {
  width: 998px;
  height: 43px;
  background: url("../images/v13_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 274px;
  overflow: hidden;
}
.v13_182 {
  width: 534px;
  height: 43px;
  background: url("../images/v13_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 464px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v13_183 {
  width: 67px;
  height: 43px;
  background: url("../images/v13_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_184 {
  width: 35px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_185 {
  width: 95px;
  height: 43px;
  background: url("../images/v13_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 79px;
  overflow: hidden;
}
.v13_186 {
  width: 63px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_187 {
  width: 78px;
  height: 43px;
  background: url("../images/v13_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v13_188 {
  width: 46px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_189 {
  width: 134px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 12px 20px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 276px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v13_190 {
  width: 94px;
  height: 19px;
  background: url("../images/v13_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v13_191 {
  width: 86px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v13_192 {
  width: 112px;
  height: 43px;
  background: rgba(224,28,73,1);
  padding: 12px 20px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 422px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v13_193 {
  width: 72px;
  height: 19px;
  background: url("../images/v13_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v13_194 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v13_195 {
  width: 100%;
  height: 824px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v13_196 {
  width: 100%;
  height: 824px;
  background: rgba(255,255,255,1);
  padding: 112px 64px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_197 {
  width: 480px;
  height: 600px;
  background: url("../images/v13_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 64px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v13_198 {
  width: 480px;
  height: 600px;
  background: rgba(179,179,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_199 {
  width: 480px;
  height: 600px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_200 {
  width: 88px;
  height: 88px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 196px;
  border-top-left-radius: 99999px;
  border-top-right-radius: 99999px;
  border-bottom-left-radius: 99999px;
  border-bottom-right-radius: 99999px;
  overflow: hidden;
}
.v13_201 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v13_202 {
  width: 22px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 8px;
}
.v13_203 {
  width: 608px;
  height: 505px;
  background: url("../images/v13_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 608px;
  overflow: hidden;
}
.v13_204 {
  width: 608px;
  height: 395px;
  background: url("../images/v13_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_205 {
  width: 608px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}
.v13_206 {
  width: 608px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 234px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_207 {
  width: 185px;
  height: 56px;
  background: rgba(224,28,73,1);
  padding: 16px 24px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 0px;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  overflow: hidden;
}
.v13_208 {
  width: 137px;
  height: 30px;
  background: url("../images/v13_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 24px;
  overflow: hidden;
}
.v13_209 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_210 {
  width: 608px;
  height: 62px;
  background: url("../images/v13_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 0px;
  overflow: hidden;
}
.v13_211 {
  width: 89px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v13_212 {
  width: 608px;
  height: 40px;
  background: url("../images/v13_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  overflow: hidden;
}
.v13_213 {
  width: 116px;
  height: 40px;
  background: url("../images/v13_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_214 {
  width: 116px;
  height: 35px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v13_215 {
  width: 100px;
  height: 40px;
  background: url("../images/v13_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 148px;
  overflow: hidden;
}
.v13_216 {
  width: 68px;
  height: 21px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 31px;
}
.v13_217 {
  width: 11px;
  height: 11px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
}
.v13_218 {
  width: 11px;
  height: 11px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 13px;
}
.v13_219 {
  width: 11px;
  height: 11px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 13px;
}
.v13_220 {
  width: 11px;
  height: 11px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1px;
}
.v13_221 {
  width: 135px;
  height: 40px;
  background: url("../images/v13_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 281px;
  overflow: hidden;
}
.v13_222 {
  width: 97px;
  height: 22px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 37px;
}
.v13_223 {
  width: 31px;
  height: 26px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v13_224 {
  width: 140px;
  height: 40px;
  background: url("../images/v13_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 449px;
  overflow: hidden;
}
.v13_225 {
  width: 37px;
  height: 23px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 1px;
}
.v13_226 {
  width: 97px;
  height: 18px;
  background: rgba(33,0,93,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 41px;
}
.v13_227 {
  width: 100%;
  height: 641px;
  background: url("../images/v13_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 184px 16px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 883px;
  left: 0px;
  overflow: hidden;
}
.v13_228 {
  width: 100%;
  height: 641px;
  background: rgba(179,179,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_229 {
  width: 100%;
  height: 641px;
  background: rgba(0,0,0,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v13_230 {
  width: 960px;
  height: 273px;
  background: url("../images/v13_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 160px;
  overflow: hidden;
}
.v13_231 {
  width: 960px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v13_232 {
  width: 960px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 242px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v13_233 {
  width: 100%;
  height: 788px;
  background: rgba(241,237,237,1);
  padding: 120px 16px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 0px;
  overflow: hidden;
}
.v13_234 {
  width: 100%;
  height: 548px;
  background: url("../images/v13_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 16px;
  overflow: hidden;
}
.v13_235 {
  width: 800px;
  height: 166px;
  background: url("../images/v13_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 224px;
  overflow: hidden;
}
.v13_236 {
  width: 560px;
  height: 96px;
  background: url("../images/v13_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v13_237 {
  width: 560px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_238 {
  width: 560px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 51px;
  opacity: 1;
  text-align: center;
}
.v13_239 {
  width: 800px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_240 {
  width: 100%;
  height: 326px;
  background: url("../images/v13_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 24px;
  overflow: hidden;
}
.v13_241 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_242 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_243 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_244 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_245 {
  width: 19px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v13_246 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_247 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_248 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_249 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 413px;
  overflow: hidden;
}
.v13_250 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_251 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_252 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_253 {
  width: 23px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v13_254 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_255 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_256 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_257 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 826px;
  overflow: hidden;
}
.v13_258 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_259 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_260 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_261 {
  width: 21px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
}
.v13_262 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_263 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_264 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_265 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 0px;
  overflow: hidden;
}
.v13_266 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_267 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_268 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_269 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v13_270 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_271 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_272 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_273 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 413px;
  overflow: hidden;
}
.v13_274 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_275 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_276 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_277 {
  width: 19px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v13_278 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_279 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_280 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_281 {
  width: 373px;
  height: 143px;
  background: url("../images/v13_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 826px;
  overflow: hidden;
}
.v13_282 {
  width: 48px;
  height: 48px;
  background: url("../images/v13_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v13_283 {
  width: 48px;
  height: 48px;
  background: rgba(85,27,83,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v13_284 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v13_285 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v13_286 {
  width: 373px;
  height: 79px;
  background: url("../images/v13_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v13_287 {
  width: 373px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_288 {
  width: 373px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_289 {
  width: 100%;
  height: 677px;
  background: rgba(255,255,255,1);
  padding: 80px 16px;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 2312px;
  left: 0px;
  overflow: hidden;
}
.v13_290 {
  width: 100%;
  height: 320px;
  background: url("../images/v13_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 108px;
  overflow: hidden;
}
.v13_291 {
  width: 512px;
  height: 320px;
  background: rgba(179,179,179,1);
  padding: 48px 0px;
  margin: 74px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v13_292 {
  width: 512px;
  height: 207px;
  background: url("../images/v13_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 552px;
  overflow: hidden;
}
.v13_293 {
  width: 512px;
  height: 110px;
  background: url("../images/v13_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_294 {
  width: 512px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v13_295 {
  width: 512px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 83px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_296 {
  width: 183px;
  height: 57px;
  background: rgba(224,28,73,1);
  padding: 16px 24px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 0px;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  overflow: hidden;
}
.v13_297 {
  width: 135px;
  height: 30px;
  background: url("../images/v13_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 24px;
  overflow: hidden;
}
.v13_298 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_299 {
  width: 100%;
  height: 141px;
  background: url("../images/v13_299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 108px;
  overflow: hidden;
}
.v13_300 {
  width: 328px;
  height: 119px;
  background: url("../images/v13_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_301 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_302 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v13_303 {
  width: 328px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_304 {
  width: 328px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_305 {
  width: 328px;
  height: 141px;
  background: url("../images/v13_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 368px;
  overflow: hidden;
}
.v13_306 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_307 {
  width: 26px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v13_308 {
  width: 328px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_309 {
  width: 328px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_310 {
  width: 328px;
  height: 119px;
  background: url("../images/v13_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 736px;
  overflow: hidden;
}
.v13_311 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_312 {
  width: 25px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v13_313 {
  width: 328px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_314 {
  width: 328px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_315 {
  width: 100%;
  height: 629px;
  background: rgba(85,27,83,1);
  padding: 120px 40px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 2989px;
  left: 0px;
  overflow: hidden;
}
.v13_316 {
  width: 100%;
  height: 388px;
  background: url("../images/v13_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 40px;
  overflow: hidden;
}
.v13_317 {
  width: 100%;
  height: 67px;
  background: url("../images/v13_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_318 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: center;
}
.v13_319 {
  width: 100%;
  height: 281px;
  background: url("../images/v13_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 0px;
  overflow: hidden;
}
.v13_320 {
  width: 580px;
  height: 281px;
  background: rgba(255,255,255,1);
  padding: 40px 32px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v13_321 {
  width: 160px;
  height: 201px;
  background: url("../images/v13_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 32px;
  overflow: hidden;
}
.v13_322 {
  width: 112px;
  height: 112px;
  background: rgba(179,179,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 1px solid rgba(167,243,208,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v13_323 {
  width: 160px;
  height: 73px;
  background: url("../images/v13_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v13_324 {
  width: 160px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v13_325 {
  width: 160px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_326 {
  width: 324px;
  height: 148px;
  background: url("../images/v13_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 224px;
  overflow: hidden;
}
.v13_327 {
  width: 136px;
  height: 24px;
  background: rgba(255,255,255,1);
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_328 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_329 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_330 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v13_331 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_332 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  overflow: hidden;
}
.v13_333 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_334 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  overflow: hidden;
}
.v13_335 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_336 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 112px;
  overflow: hidden;
}
.v13_337 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_338 {
  width: 324px;
  color: rgba(85,27,83,0.6000000238418579);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_339 {
  width: 580px;
  height: 281px;
  background: rgba(255,255,255,1);
  padding: 40px 32px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 620px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v13_340 {
  width: 160px;
  height: 201px;
  background: url("../images/v13_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 32px;
  overflow: hidden;
}
.v13_341 {
  width: 112px;
  height: 112px;
  background: rgba(179,179,179,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 1px solid rgba(167,243,208,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v13_342 {
  width: 160px;
  height: 73px;
  background: url("../images/v13_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v13_343 {
  width: 160px;
  color: rgba(85,27,83,0.6399999856948853);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v13_344 {
  width: 160px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_345 {
  width: 324px;
  height: 121px;
  background: url("../images/v13_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 224px;
  overflow: hidden;
}
.v13_346 {
  width: 136px;
  height: 24px;
  background: rgba(255,255,255,1);
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_347 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_348 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_349 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v13_350 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_351 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  overflow: hidden;
}
.v13_352 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_353 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  overflow: hidden;
}
.v13_354 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_355 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 112px;
  overflow: hidden;
}
.v13_356 {
  width: 21px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v13_357 {
  width: 324px;
  color: rgba(85,27,83,0.6000000238418579);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_358 {
  width: 100%;
  height: 370px;
  background: rgba(255,255,255,1);
  padding: 64px 16px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 3618px;
  left: 0px;
  overflow: hidden;
}
.v13_359 {
  width: 100%;
  height: 242px;
  background: url("../images/v13_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 128px;
  overflow: hidden;
}
.v13_360 {
  width: 238px;
  height: 224px;
  background: rgba(179,179,179,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v13_361 {
  width: 720px;
  height: 242px;
  background: url("../images/v13_361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  overflow: hidden;
}
.v13_362 {
  width: 720px;
  height: 145px;
  background: url("../images/v13_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_363 {
  width: 720px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v13_364 {
  width: 720px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 83px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v13_365 {
  width: 360px;
  height: 57px;
  background: rgba(224,28,73,1);
  padding: 16px 24px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 0px;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  overflow: hidden;
}
.v13_366 {
  width: 128px;
  height: 35px;
  background: url("../images/v13_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 116px;
  overflow: hidden;
}
.v13_367 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v13_368 {
  width: 100%;
  height: 539px;
  background: rgba(244,244,244,1);
  padding: 96px 16px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 3988px;
  left: 0px;
  overflow: hidden;
}
.v13_369 {
  width: 100%;
  height: 347px;
  background: rgba(85,27,83,0.15000000596046448);
  padding: 64px 64px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 128px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v13_370 {
  width: 482px;
  height: 203px;
  background: url("../images/v13_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 64px;
  overflow: hidden;
}
.v13_371 {
  width: 482px;
  height: 110px;
  background: url("../images/v13_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_372 {
  width: 482px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v13_373 {
  width: 482px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v13_374 {
  width: 186px;
  height: 53px;
  background: rgba(224,28,73,1);
  padding: 16px 24px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 0px;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  overflow: hidden;
}
.v13_375 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 24px;
  overflow: hidden;
}
.v13_376 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v13_377 {
  width: 110px;
  height: 30px;
  background: url("../images/v13_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 52px;
  overflow: hidden;
}
.v13_378 {
  width: 102px;
  color: rgba(244,244,244,1);
  position: absolute;
  top: 4px;
  left: 4px;
  font-family: Comfortaa;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_379 {
  width: 373px;
  height: 219px;
  background: url("../images/v13_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 586px;
  overflow: hidden;
}
.v13_380 {
  width: 373px;
  height: 57px;
  background: url("../images/v13_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_381 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_382 {
  width: 26px;
  height: 20px;
  background: rgba(85,27,83,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
}
.v13_383 {
  width: 325px;
  height: 57px;
  background: url("../images/v13_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v13_384 {
  width: 325px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_385 {
  width: 325px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_386 {
  width: 373px;
  height: 57px;
  background: url("../images/v13_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v13_387 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_388 {
  width: 18px;
  height: 28px;
  background: rgba(85,27,83,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 7px;
}
.v13_389 {
  width: 325px;
  height: 57px;
  background: url("../images/v13_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v13_390 {
  width: 325px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_391 {
  width: 325px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_392 {
  width: 373px;
  height: 57px;
  background: url("../images/v13_392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v13_393 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_394 {
  width: 22px;
  height: 27px;
  background: rgba(85,27,83,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 5px;
}
.v13_395 {
  width: 325px;
  height: 57px;
  background: url("../images/v13_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v13_396 {
  width: 325px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_397 {
  width: 325px;
  color: rgba(224,28,73,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_398 {
  width: 100%;
  height: 522px;
  background: rgba(255,255,255,1);
  padding: 80px 64px;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 4527px;
  left: 0px;
  overflow: hidden;
}
.v13_399 {
  width: 100%;
  height: 227px;
  background: url("../images/v13_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 64px;
  overflow: hidden;
}
.v13_400 {
  width: 864px;
  height: 249px;
  background: url("../images/v13_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_401 {
  width: 864px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_402 {
  width: 864px;
  height: 190px;
  background: url("../images/v13_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v13_403 {
  width: 864px;
  height: 48px;
  background: url("../images/v13_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_404 {
  width: 864px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_405 {
  width: 864px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_406 {
  width: 864px;
  height: 70px;
  background: url("../images/v13_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v13_407 {
  width: 864px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_408 {
  width: 864px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_409 {
  width: 168px;
  height: 24px;
  background: url("../images/v13_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 0px;
  overflow: hidden;
}
.v13_410 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_411 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v13_412 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v13_413 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v13_414 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v13_415 {
  width: 18px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v13_416 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 108px;
  overflow: hidden;
}
.v13_417 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v13_418 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  overflow: hidden;
}
.v13_419 {
  width: 20px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
}
.v13_420 {
  width: 224px;
  height: 124px;
  background: url("../images/v13_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 928px;
  overflow: hidden;
}
.v13_421 {
  width: 100px;
  height: 124px;
  background: url("../images/v13_421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_422 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_423 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_424 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_425 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_426 {
  width: 100px;
  height: 124px;
  background: url("../images/v13_426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v13_427 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_428 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_429 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_430 {
  width: 100px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_431 {
  width: 100%;
  height: 55px;
  background: url("../images/v13_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 64px;
  overflow: hidden;
}
.v13_432 {
  width: 100%;
  height: 1px;
  background: rgba(85,27,83,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_433 {
  width: 100%;
  height: 22px;
  background: url("../images/v13_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v13_434 {
  width: 383px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_435 {
  width: 333px;
  height: 22px;
  background: url("../images/v13_435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 819px;
  overflow: hidden;
}
.v13_436 {
  width: 158px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_437 {
  width: 151px;
  color: rgba(85,27,83,1);
  position: absolute;
  top: 0px;
  left: 182px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
